name: Build Docker container

on:
  push:
    branches: [ master ]
  workflow_dispatch:
  # i don't think pull_request should be here... but i do want to run tests on PRs. maybe later?
  # pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Test
      run: dotnet test --no-build --verbosity normal

  publish:
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'

    needs: test

    runs-on: ubuntu-latest

    permissions:
      packages: write

    steps:
      - name: 'Checkout the dang thing'
        uses: actions/checkout@main

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push bot
        working-directory: .
        run: |
          docker build . -t ghcr.io/2048khz-gachi-rmx/dotto:latest
          docker push ghcr.io/2048khz-gachi-rmx/dotto:latest